# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# -------------------------------------------------------------------------------------#
# Eclipse-specific #
# -------------------------------------------------------------------------------------#
.metadata
.repository
bin/*
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
*.descriptor
# -------------------------------------------------------------------------------------#
# Recommended for Maven project 
# -------------------------------------------------------------------------------------#
.project 
.classpath
.buildpath
.factorypath

# ----------------# 
# Studio specific #
# ----------------#
.studio/
target/
target/**
target/**/*
target/classes/**
target/classes/**/*
target/generated-sources/**
target/generated-sources/**/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
